
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<a href="/Admin/Slider/">Slider Ekle</a>*@

@* //ActionLink = Linkteki yazı, Action adı (metod), Controller adı*@
@Html.ActionLink("Slider Ekle","Slider","Admin")