
@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- eğer form ile dosya gönderiyorsak (upload) enctypye tanımlanmalı -->

<form method="post" enctype="multipart/form-data">

    <div>@Html.ValidationSummary()</div>

    <label>Açıklama</label>
    <input name="Aciklama"/>
    
    <br/>

    <label>Resim</label>
    <input type="file" name="resim"/>

    <button>EKLE</button>

    @ViewBag.Sonuc
</form>

